*{
    background-color:white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attribution {
    display: none;
}

body {
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

card-container {
    width: 320px;
    background-color: white;
    padding: 16px;
}



